.s-atmosphere {
  &__container {
    @include flex-between;
    position: relative;
    padding-bottom: 56px;
    gap: 32px;
    @include laptop-min {
      flex-wrap: wrap;
    }

    &::before {
      position: absolute;
      content: "";
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: var(--black);
      bottom: 0;
    }
  }
  &__info {
    flex: 0 1 580px;
    @include laptop-min {
      width: 100%;
      flex: none;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__content {
    max-width: 345px;
  }
}
