.s-faq {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    padding: 24px 16px;
    border: 1px solid rgba(28, 27, 27, 0.3);
    border-radius: 4px;
    transition:
      color 0.2s ease,
      background-color 0.2s ease,
      border-color 0.2s ease;
    @include hover {
      color: white;
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
  &__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    font-family: "Lora", sans-serif;
    margin: 0px 0px 24px 0px;
    @include laptop-middle {
      font-size: 22px;
    }
    @include tablet {
      font-size: 20px;
    }
  }
}
