.s-invite {
  &__container {
    padding-bottom: 56px;
    border-bottom: 1px solid var(--black);
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include laptop-min {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet-min {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 4px;
    overflow: hidden;
    aspect-ratio: 1/1;
    padding: 24px;
    color: white;
    @include tablet {
      padding: 16px;
    }
  }
  &__item-info {
    padding: 12px 24px;
    backdrop-filter: blur(3px);
    border-radius: 4px;
    width: fit-content;
    background:
      linear-gradient(
        134deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      rgba(0, 0, 0, 0.3);
  }
  &__item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 8px;
  }
  &__item-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }
  &__bottom-content {
    max-width: 625px;
    margin: 40px auto 0px auto;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    @include tablet {
      font-size: 15px;
      line-height: 147%;
      margin-top: 30px;
    }
  }
}
