.s-reviews {
  &__item {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 32px;
    border: 1px solid rgba(28, 27, 27, 0.3);
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include tablet-min {
      padding: 32px 16px;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
  &__profile {
    flex-shrink: 0;
    @include tablet-min {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
  &__item-avatar {
    display: block;
    width: 80px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 4px;
    object-fit: cover;
  }
  &__profile-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-family: "Lora", sans-serif;
    margin: 12px 0px 0px 0px;
    @include tablet-min {
      margin: 0;
    }
  }
}
