<div class="modal" id="modal-order">
  <h3 class="modal__title">Заказать эскорт</h3>
  <form action="#" class="modal__form" id="order-form">
    <div class="input-control">
      <input
        type="text"
        placeholder="Имя"
        id="order-name"
        class="input-outline"
      />
    </div>
    <div class="input-control">
      <input
        type="tel"
        id="order-tel"
        placeholder="+7 (___) ___-__-__"
        class="input-outline"
      />
    </div>
    <button class="btn-s form-btn">Отправить</button>
  </form>
  <p class="form-policy">
    Нажимая на кнопку «Отправить», даю согласие на
    <a href="#" target="_blank">обработку персональных данных</a> в рамках
    <a href="#">политики конфиденциальности</a>
  </p>
</div>
