<section class="s-about-main sect-m">
  <div class="container">
    <div class="s-about-main__item">
      <img src="@img/about-main.jpg" alt="image" class="s-about-main__img" />
      <div class="s-about-main__item-body">
        <h2 class="s-title s-about-main__item-title">Команда менеджеров</h2>
        <div class="content">
          <p>
            Команда менеджеров <br />
            Огромный вклад в успешное существование нашего агентства вносит
            команда менеджеров. Лучшие, квалифицированные работники, истинные
            профессионалы своего дела. Именно благодаря им, обслуживание каждого
            клиента проходит на высшем уровне. Ни одна деталь не останется без
            их внимания. Поэтому, все пожелания заказчика будут учтены.
          </p>
        </div>
        <a
          href="#modal-order"
          data-fancybox
          class="btn-s _outline s-about-main__item-btn"
          >Заказать эскорт</a
        >
      </div>
    </div>
    <div class="s-about-main__item">
      <img src="@img/about-main.jpg" alt="image" class="s-about-main__img" />
      <div class="s-about-main__item-body">
        <h2 class="s-title s-about-main__item-title">Модели агентства</h2>
        <div class="content">
          <p>
            Благодаря тому, что в агентстве «ВЕЛЬВЕТ» состоят лучшие модели и
            эскорт девушки Москвы, у нас Вы гарантированно встретите свой идеал.
            Также Вы можете заказать персональный подбор от менеджера, который
            подберет Вам особу по желаемым критериям. А если Вы желаете
            порадовать себя обществом эксклюзивной персоны или медийной
            личности, то у нас они тоже есть!
          </p>
        </div>
        <a href="#" class="btn-s _outline s-about-main__item-btn"
          >Каталог моделей</a
        >
      </div>
    </div>
    <div class="s-about-main__item">
      <img src="@img/about-main.jpg" alt="image" class="s-about-main__img" />
      <div class="s-about-main__item-body">
        <h2 class="s-title s-about-main__item-title">Наш офис</h2>
        <div class="content">
          <p>
            По любым вопросам, требующим личного обсуждения с менеджером, Вы
            можете подъехать к нам в офис. Он расположен в крупном бизнес-центре
            Москвы, с отдельной охраняемой парковой только для наших клиентов. В
            стильном современном офисе Вас встретят обворожительные хостес на
            ресепшне, предложат напитки, проводят к менеджеру.
          </p>
        </div>
        <a href="#" class="btn-s _outline s-about-main__item-btn"
          >Контакты</a
        >
      </div>
    </div>
  </div>
</section>
