<section class="s-about sect-m">
  <div class="container s-about__container">
    <div class="s-about__wrapper">
      <img src="@img/about.jpg" alt="image" class="s-about__img" />
      <div class="s-about__info">
        <div class="s-about__content content">
          <p>
            Обращаясь в наше агентство, чтобы заказать элитный эскорт в Москве,
            Вы гарантированно получаете самый лучший сервис, включающий в себя
            поддержку на каждом из этапов сотрудничества и 100%
            конфиденциальность. Уже более 18 лет мы предоставляем
            высококачественные услуги, обеспечивая себя высоким рейтингом,
            популярностью и положительной репутацией среди клиентов не только
            Москвы, но и со всего мира.
          </p>
          <p>
            <strong>
              Отличительной чертой нашего агентства является грамотное
              выполнение любых пожеланий клиента и индивидуальный подход к
              каждому заказу. Кроме того, наш менеджер способен взять все заботы
              по организации мероприятия на себя и в течении ограниченного
              времени подобрать обворожительную модель на Ваш вкус.
            </strong>
          </p>
        </div>
        <a href="#modal-order" data-fancybox class="s-about__btn btn-s"
          >Заказать эскорт</a
        >
      </div>
    </div>
  </div>
</section>
