<section
  class="s-adv sect-m sect-p"
  style="background: url(&quot;@img/adv.jpg&quot;) center / cover no-repeat"
>
  <div class="container">
    <h2 class="s-title">Преимущества</h2>
    <ul class="list s-adv__list">
      <li>Персональный подход к каждому клиенту</li>
      <li>Высокий уровень сервиса от профессионалов</li>
      <li>Многочисленный каталог самых топовых девушек и моделей</li>
      <li>Большой выбор элитных услуг для любого повода</li>
      <li>Ваша 100% конфиденциальность</li>
      <li>Цена на элитный эскорт от 999$</li>
    </ul>
    <a href="#modal-order" class="btn-s s-adv__btn">Заказать эскорт</a>
  </div>
</section>
