<section class="s-archive-services sect-m">
  <div class="container">
    <div class="s-archive-services__head">
      <div class="s-archive-services__head-info">
        <h2 class="s-title s-archive-services__title">
          Элитные эскорт <br />
          услуги в Москве
        </h2>
        <p class="content">
          Ещё не пробовали услуги от агентства «ВЕЛЬВЕТ»? Самое время это
          исправить. Мы предлагаем премиальное эскорт-сопровождение для любых
          случаев: от светских мероприятий и деловых поездок до элитного отдыха.
          Наши модели доступны не только в Москве, но и по всей России — и за её
          пределами.
        </p>
      </div>
      <a
        href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
        data-fancybox
        class="video"
      >
        <img src="@img/video.jpg" alt="image" />
        <div class="video__play">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </div>
      </a>
    </div>
    <div class="s-archive-services__grid">
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Организация мероприятий</h5>
          <p class="content card-service__content">
            Организация VIP мероприятий любой сложности с нуля «под ключ» по
            желаниям клиента и с гарантией качества.
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Организация мероприятий</h5>
          <p class="content card-service__content">
            Организация VIP мероприятий любой сложности с нуля «под ключ» по
            желаниям клиента и с гарантией качества.
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Мальчишник с ТОП моделями</h5>
          <p class="content card-service__content">
            Организация крутого мальчишника с горячими ТОП моделями - по
            готовому или индивидуальному сценарию «под ключ».
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
