<section class="sect-m s-contacts">
  <div class="container s-contacts__container">
    <ul class="list s-contacts__list">
      <li>
        <span>Адрес:</span>
        <span>Москва, ул. Садовническая, 14 стр.2 </span>
      </li>
      <li>
        <span>Режим работы:</span>
        <span>Круглосуточно </span>
      </li>
      <li>
        <span>Телефон / WhatsApp</span>
        <a href="tel:+79175084405">+7(917)508-44-05</a>
      </li>
      <li>
        <span>E-mail:</span>
        <a href="mailto:velvet.vip@yandex.ru">velvet.vip@yandex.ru</a>
      </li>
    </ul>
    <img src="@img/contacts.jpg" alt="image" class="s-contacts__img">
  </div>
</section>