<section class="s-descr sect-m">
  <div class="container s-descr__container">
    <p class="content s-descr__content">
      Все девушки, сотрудничающие с агентством «ВЕЛЬВЕТ», получают не только
      престижный статус, но и имеют возможность посещать самые элитные заведения
      Москвы и заграницы. Не упустите и Вы свой шанс стать успешной, обрести
      стабильность и уверенность в завтрашнем дне и начать наслаждаться
      финансовой независимостью.
    </p>
    <img src="@img/descr.jpg" alt="image" class="s-descr__img">
  </div>
</section>
