<section class="s-elite sect-m">
  <div class="container s-elite__container">
    <img src="@img/service.jpg" alt="image" class="s-elite__img" />
    <div class="s-elite__info">
      <p class="content">
        Элитные модели нашего агентства гармонично впишутся в любую атмосферу
        Вашего VIP мероприятия, бизнес встречи, LUXURY выставки или светского
        приема. Ведь они способны очаровать Вас не только своей красотой, но и
        личными качествами, которые не оставят никого равнодушными.
      </p>
      <a href="#modal-order" data-fancybox class="btn-s s-elite__btn">Заказать эскорт</a>
    </div>
  </div>
</section>
