<section class="s-invite sect-m">
  <div class="container s-invite__container">
    <div class="sect-head">
      <h2 class="s-title">Популярные направления</h2>
      <p class="content">
        Мы принимаем заявки от клиентов по всему миру. Как пример, предлагаем
        ознакомиться с вариантами популярных направлений, куда чаще всего
        приглашаю девушек из агентства. Особенно хотим отметить, что каждая
        модель имеет все необходимое для путешествия по России или зарубеж:
        действующий загранпаспорт и различные визы, свободное владение
        английским и другими языками. Вследствие чего, любая особа из каталога
        сможет прибыть куда захотите ближайшим рейсом.
      </p>
    </div>
    <div class="s-invite__grid">
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
      <div
        class="s-invite__item"
        style="
          background: url(&quot;@img/invite.jpg&quot;) 0 0 / cover no-repeat;
        "
      >
        <div class="s-invite__item-info">
          <div class="s-invite__item-title">Дубай</div>
          <div class="s-invite__item-price">Цена от 1400$</div>
        </div>
      </div>
    </div>
    <p class="s-invite__bottom-content">
      Если здесь нет того направления, где Вы находитесь, то не расстраивайтесь.
      Наш менеджер оперативно организует прибытие понравившейся модели в Вашу
      геолокацию.
    </p>
  </div>
</section>
