<section class="s-model-gallery sect-m">
  <div class="container">
    <h2 class="s-title">Фотографии Елены</h2>
    <div class="s-model-gallery__grid">
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a href="@img/gallery.jpg" data-fancybox="gallery" class="s-model-gallery__item">
        <img src="@img/gallery.jpg" alt="image" />
      </a>
    </div>
  </div>
</section>
