<section class="s-page sect-m">
  <div class="container">
    <h2 class="s-title">Политика конфиденциальности</h2>
    <div class="content">
      <p>
        Настоящая Политика конфиденциальности персональных данных (далее –
        Политика конфиденциальности) действует в отношении всей информации,
        которую данный сайт, на котором размещен текст этой Политики
        конфиденциальности, может получить о Пользователе, а также любых
        программ и продуктов, размещенных на нем.
      </p>
      <p>1. Определение терминов</p>
      <p>
        1.1. В настоящей Политике конфиденциальности используются следующие
        термины:
      </p>
      <p>
        1.1.1. «Администрация сайта» – уполномоченные сотрудники, уполномоченные
        на управление сайтом, действующие от его имени, которые организуют и
        (или) осуществляют обработку персональных данных, а также определяют
        цели обработки персональных данных, состав персональных данных,
        подлежащих обработке, действия (операции), совершаемые с персональными
        данными.
      </p>
      <p>
        1.1.1. «Администрация сайта» – уполномоченные сотрудники, уполномоченные
        на управление сайтом, действующие от его имени, которые организуют и
        (или) осуществляют обработку персональных данных, а также определяют
        цели обработки персональных данных, состав персональных данных,
        подлежащих обработке, действия (операции), совершаемые с персональными
        данными.
      </p>
      <p>
        1.1.1. «Администрация сайта» – уполномоченные сотрудники, уполномоченные
        на управление сайтом, действующие от его имени, которые организуют и
        (или) осуществляют обработку персональных данных, а также определяют
        цели обработки персональных данных, состав персональных данных,
        подлежащих обработке, действия (операции), совершаемые с персональными
        данными.
      </p>
      <p>
        1.1.1. «Администрация сайта» – уполномоченные сотрудники, уполномоченные
        на управление сайтом, действующие от его имени, которые организуют и
        (или) осуществляют обработку персональных данных, а также определяют
        цели обработки персональных данных, состав персональных данных,
        подлежащих обработке, действия (операции), совершаемые с персональными
        данными.
      </p>
      <p>
        1.1.1. «Администрация сайта» – уполномоченные сотрудники, уполномоченные
        на управление сайтом, действующие от его имени, которые организуют и
        (или) осуществляют обработку персональных данных, а также определяют
        цели обработки персональных данных, состав персональных данных,
        подлежащих обработке, действия (операции), совершаемые с персональными
        данными.
      </p>
    </div>
  </div>
</section>
