<section class="s-posibility sect-m">
  <div class="container s-posibility__container">
    <img src="@img/posibility.jpg" alt="image" class="s-posibility__img" />
    <div class="s-posibility__info">
      <ul class="list s-posibility__list">
        <li>Безграничные возможности для личного роста</li>
        <li>Стабильная высокая зарплата от 700 000руб/месяц</li>
        <li>Индивидуально составленный график</li>
        <li>100% конфиденциальности и безопасности</li>
        <li>Дополнительно оплачиваемые командировки за границу</li>
        <li>
          Оплата тренингов, фитнес-зала, СПА, салонов красоты, фотосессий и
          всего прочего нужного для повышения квалификации
        </li>
      </ul>
      <p class="content">
        <strong>
          Отдельно хотим отметить, что сотрудничество с нашим агентством
          сопровождается гарантией полной безопасности и сохранением
          конфиденциальности для сотрудниц.</strong
        >
      </p>
    </div>
  </div>
</section>
