<section class="s-selection sect-m">
  <div class="container s-selection__container">
    <div class="s-selection__info">
      <h2 class="s-title">Подбор эскорт девушки по персональным критериям</h2>
      <div class="content">
        <p>
          Если клиент имеет конкретный образ модели и желает найти особу
          полностью соответствующую ему, то мы можем предоставить подбор эскорт
          девушки по персональным критериям. Эта услуга позволит Вам получить
          именно то, что Вы ищете, поскольку опытный менеджер учтет все
          пожелания и оперативно подберет Ваш идеал. Кстати, можно выбрать самые
          разные параметры, ведь в нашем агентстве есть девушки на любой вкус.
        </p>
        <p>
          Обращаясь к нам Вы можете полностью быть уверены в успешном проведении
          предстоящего события.
        </p>
      </div>
    </div>
    <a
      href="//github.com/mediaelement/mediaelement-files/blob/master/big_buck_bunny.mp4?raw=true"
      data-fancybox
      class="video"
    >
      <img src="@img/video.jpg" alt="image" />
      <div class="video__play">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-play"></use>
        </svg>
      </div>
    </a>
  </div>
</section>
