<section class="s-services sect-m">
  <div class="container _big">
    <div class="sect-head">
      <h2 class="s-title">
        Эскорт услуги <br />
        «под ключ»
      </h2>
      <p class="content">
        Отдельно обращаем Ваше внимание, что у нас Вы можете заказать элитные
        эскорт услуги «под ключ» с нашими сногсшибательными моделями. Благодаря
        им, Вы точно получите самую приятную компанию для своего особенного
        случая и гораздо более яркие эмоции, чем могли бы предположить.
      </p>
    </div>
    <div class="s-services__wrapper">
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Элитное сопровождение</h5>
          <p class="content card-service__content">
            Представительная модель будет сопровождать Вас на значимое событие и
            поможет создать желаемое впечатление на всех присутствующих.
          </p>
          <div class="card-service__price">Заказать от 1000$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Организация мероприятий</h5>
          <p class="content card-service__content">
            Организация VIP мероприятий любой сложности с нуля «под ключ» по
            желаниям клиента и с гарантией качества.
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Элитное сопровождение</h5>
          <p class="content card-service__content">
            Представительная модель будет сопровождать Вас на значимое событие и
            поможет создать желаемое впечатление на всех присутствующих.
          </p>
          <div class="card-service__price">Заказать от 1000$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
      <div class="card-service">
        <div class="card-service__gallery">
          <img src="@img/service.jpg" alt="image" />
        </div>
        <div class="card-service__body">
          <h5 class="card-service__title">Организация мероприятий</h5>
          <p class="content card-service__content">
            Организация VIP мероприятий любой сложности с нуля «под ключ» по
            желаниям клиента и с гарантией качества.
          </p>
          <div class="card-service__price">Заказать от 1150$</div>
          <a href="#modal-order" data-fancybox class="card-service__btn btn-s"
            >Узнать подробнее</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
