<section class="s-offer sect-p">
  <div class="container s-offer__container">
    <div class="s-offer__info">
      <h2 class="s-title s-offer__title">VIP сопровождение в Москве</h2>
      <div class="content">
        <p>
          Если Вы предпочитаете общество эталонных девушек, то мы рекомендуем
          обращаться в агентство «ВЕЛЬВЕТ». Ведь только у нас Вас ждет все самое
          лучшее: лучший сервис с полной конфиденциальностью,
          персонализированный подход и уникальные модели, у которых можно
          заказать услуги VIP сопровождения на любое мероприятие.
        </p>
      </div>
      <a href="#" class="btn-s s-offer__btn">Все эскорт услуги</a>
    </div>
    <img src="@img/vip.jpg" alt="image" class="s-offer__img" />
  </div>
</section>
