.btn-clear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.btn-rect {
  @include flex-center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: var(--primary);

  color: white;

  transition: background-color 0.2s ease;
  @include hover {
    background-color: var(--primary-dark);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.btn-s {
  @include flex-center;
  background-color: var(--primary);
  padding: 16px 64px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  max-width: 100%;
  border: 1px solid var(--primary);

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: white;

  transition: background-color .2s ease, border-color .2s ease;
  @include hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  &._outline {
    background-color: transparent;
    color: var(--primary);

    @include hover {
      color: white;
      background-color: var(--primary-dark);
    }
  }
}
