.input-control {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
}
.input {
  padding: 14px 20px;
  border: none;
  backdrop-filter: blur(9px);
  background: linear-gradient(
    51deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 4px;
  outline: none;
  width: 100%;

  font-size: 16px;
  line-height: 125%;
  color: white;

  &::placeholder {
    color: white;
  }

  &._white {
    background-color: white;
    border: 1px solid rgba(48, 48, 48, 0.3);
    color: var(--black);

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
  &.just-validate-error-field {
    border: 1px solid var(--primary) !important;
  }
}
.just-validate-error-label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  margin-top: 8px;
}
.input-outline {
  padding: 14px 20px;
  border: none;
  background: white;
  border-radius: 4px;
  border: 1px solid var(--black);
  outline: none;
  width: 100%;

  font-size: 16px;
  line-height: 125%;
  color: var(--black);

  &.just-validate-error-field {
    border: 1px solid var(--primary) !important;
  }
}
.form-btn {
  width: 100%;
  margin-top: 24px;
}

.form-policy {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  max-width: 500px;
  margin: 16px 0px 0px 0px;

  a {
    text-decoration: underline;
    @include hover {
      text-decoration: none;
    }
  }
}

.input-hidden {
  display: none;
}
