.s-title {
  font-family: "Lora", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  margin: 0px 0px 40px 0px;

  @include laptop-min {
    font-size: 38px;
  }

  @include tablet {
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 32px;
  }
}
